body {
    font-family: Arial, sans-serif;
    background: url('../../public/photo-1482440308425-276ad0f28b19.jpg') no-repeat bottom fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 150px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
}

h2{
    text-align: center;
}

.message-container:hover {
    cursor: pointer;
    background-color: grey;
}

.message-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.message-info h2 {
    margin: 0;
    font-size: 16px;
}

.message-info time {
    margin: 0;
    color: #6c757d;
    font-size: 12px;
}

nav {
    padding: 40px;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: #f5ebf7;
    font-weight: bold;
    margin-right: 10px;
}


.full-message {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
}