.footer-s {
    margin-top: -60px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

a{
    color: #211522;
}

.footer-s a:hover{
    text-decoration: underline;
    color: #00B9E8;
}

.footer-section a:hover {
    text-decoration: underline;
}