.phrase{
    padding: 18%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.custom-heading{
    color: white;
    text-shadow: 2px;
    font-size: 4rem;
    padding: auto;
    text-align: center;
}

.caption{
    color: #ddd;
    text-shadow: 2px;
    font-size: 4rem;
    padding: auto;
    text-align: center;
}