.cbit-logo {
  width: 200px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #424549;
  padding: 14px 16px;
  min-height: 10px;
  overflow: auto;
  color: #fff;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-brand {
  display: flex;
}

.nav-brand a {
  color: #fff;
  padding: 20px;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
 }

.nav-menu li {
  display: inline-block;
  margin-left: 20px;
}

.nav-item {
  margin-left: 10px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  padding: 14px 16px;
}

.nav-item a:hover {
  background-color: #7289da;
  border-radius: 45px;
  color: black;
}


@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu {
    text-align: left;
    margin-top: 10px;
  }

  .nav-menu li {
    display: block;
    margin: 5px;
  }
}
