strong{
    padding: auto;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.container-1{
    margin-top: -180px;
}


textarea{
    background-color: #f4f4f4;
    font-size: 18px;
    border: solid black 2px;
    border-radius: 11px;
    width: 60%;
    justify-content: center;
    color: black;
}

button{
    width: 100px;
    height: 40px;
    background-color: #d6d6d6;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}